 body {
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: lightblue;
  }
  .row {
    margin-left: 80px;
  }

 #cab{
   height: 500px;
    background: no-repeat;
      background-image:  url("https://media.giphy.com/media/hvxoUlKJiAyWc/giphy.gif");
      
      background-size: 100%;
  }

  #cab img{
        width: 30%;
        position: relative;
        top: -50px;
  }
  
  .well {
    background-color: #98fb9873;
    margin: 30px;
    border: 1px solid black;
    text-align: center;
    width: 44%;
    position: relative;
    left: 25%;
  }
  #rest {
    position:absolute;
    left:30%;
    text-align:center;
  }
  
  #rest img {
    width:50%;
    position:relative;
  }
  
    .well img {
      max-width: 100%;
    height: auto;
   border: 1px solid #00000040;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    }
    img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  
  }