

  body {
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .row {
    margin-left: 80px;
  }

 #cab{
   height: 500px;
    background: no-repeat;
      background-image:  url("https://media.giphy.com/media/hvxoUlKJiAyWc/giphy.gif");
      
      background-size: 100%;
  }

  #cab img{
        width: 30%;
        position: relative;
        top: -50px;
  }
    