
  
  .jumbotron img {

    position: absolute;
    right: 70%;
    bottom: 77%;
    width: 10%;
    margin-top:10px;
  }
  body {
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .row {
    margin-left: 80px;
  }
    